main {
    flex: 1;    
    margin: 0;
    font-family: "Microsoft JhengHei", sans-serif;
    background: linear-gradient(to bottom right, #E3F2FD, #A3DAFF);
    /* color: #00487C; */
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    display: flex;
}

h1 {
    font-size: 4rem;
    display: block;
    margin-bottom: 20px;
    justify-content: center;
}
h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #007BFF;
}
p {
    font-size: 1.2rem;
    line-height: 1.6;
}
a {
    color: #007BFF;
    text-decoration: none;
}

.wrapper {
    flex-grow: 1;
}

.faq-item {
    margin-bottom: 30px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px 90px;
    margin: 20px 15vw;
    text-align: left;
}
.faqblock {
    min-width: 80vw;
    
}