/* 導覽列 */
header {
  background-color: #006d77;
  color: #F5FCFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: #F5FCFF;
  text-decoration: none;
  font-size: 1.5rem;
}

.auth a {
  color: #F5FCFF;
  text-decoration: none;
  font-size: 1.5rem;
}