* {
  font-weight: 400; /* regular */
  font-family: "regular", "Microsoft JhengHei", sans-serif;  /* 可依需求換字體  */
}

html,body  {
  margin: 0;
  padding: 0;
  height: 100%;
}

.layout{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* 導覽列 */
header {
  background-color: #006d77;
  color: #F5FCFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: #F5FCFF;
  text-decoration: none;
  font-size: 16px;
}

.auth a {
  color: #F5FCFF;
  text-decoration: none;
  font-size: 14px;
}
body{
  width: 100%;
  height: 104;
  justify-content: space-between;
  opacity: 1;
  /* padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px; */
  background: linear-gradient(116.89deg, #E3F2FD 40.02%, #A3DAFF 99.91%);
}

footer {
  background-color: #006d77;
  color: #F5FCFF;
  display: flex;               /* 改用 Flexbox */
  justify-content: center;     /* 水平置中 */
  align-items: center;         /* 垂直置中 */
  gap: 30px;                   /* 文字與連結之間的間距 */
  padding: 15px;
  font-size: 14px;
  flex-wrap: wrap;             /* 螢幕太窄時換行 */
}

.footer-links {
  display: flex;
  gap: 20px;
}

footer a {
  color: #F5FCFF;
  text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
.content {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 1rem;

}


.login-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 72, 124, 0.1);
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  min-height: 300px;
}
.login-box h1 {
  margin-bottom: 1rem;
  text-align: center;
}
.login-box input {
  width: 100%;
  padding: 8px 4px;
  margin-top: 10px;
  border: none;                 /* 移除預設邊框 */
  border-bottom: 0.5px solid rgba(0, 95, 107, 1);/* 只保留底線 */
  background: transparent;      /* 背景透明 */
  outline: none;                /* 移除點擊時的藍色外框 */
  font-size: 16px;
}
.login-box input:focus{
  border-bottom: 2px solid #008C9E;
}
.login-box button{
  width: auto;
  background-color: #005F6B;   /* 深青色背景 */
  color: #fff;                 /* 白色文字 */
  padding: 12px 24px;          /* 內距 */
  margin-top: 10px;
  border: none;                /* 移除預設邊框 */
  border-radius: 100px;        /* 圓角 */
  font-size: 16px;             /* 字體大小 */
  font-weight: bold;           /* 粗體 */
  cursor: pointer;             /* 滑鼠移上去變手指 */
}
.login-box button:hover{
  background-color: #008C9E;
}


.main {
  flex: 1;
  background-color: #eaeaea;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
}
